{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->

{% block content %}
<section>
    <div class="container-fluid">
        <div class="row">
            <h1 class="lgTitle">Carrito de Compras de {{request.user}}</h1>
        </div>
</section> 
<section style="height:400px">
    <div class="row">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-primary" role="alert">

                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                    {{ message }}
                </li>
            </div>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    {% if cart_items %}
    
        <table class="table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Precio Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                    <tr>
                        <td>{{ item.product }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.price }}</td>
                        <td>{{ item.total_price }}</td>
                        <td><a href="{% url 'cart:cart_remove' item.id %}">Eliminar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td>Total:</td>
                    <td>{{ total_price }}</td>
                </tr>
            </tfoot>
        </table>

        {% comment %} <a href="{% url 'checkout' %}" class="btn btn-primary">Checkout</a> {% endcomment %}
    {% else %}
        <p>Tu carrito de compras esta vacio.</p>
    {% endif %}
    </section>
{% endblock %}
